__pycache__
obj/
main
test_runner
integration_runner
scenario_runner
contract_runner
scripted_runner
sim_runner
sim_trace_*.csv
*.orig
*.json

# Nix
result

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

debug.log
