__pycache__
obj/
main
test_runner
integration_runner
scenario_runner
contract_runner
*.orig
*.json

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

debug.log
